.body{
    width:100%;
    height:100%;
}
.container{
   position:absolute;
   max-width:800px;
   height:500px;
   margin:auto;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
}

.myrightctn{
    position:relative;
    background-image:linear-gradient(45deg,#f046ff,#9b00e8);
    border-radius:25px;
    height:100%;
    left:-9%;
    padding:140px;
    color:rgb 192, 192,192,192;
    font-size:12px;
    display:flex;
    justify-content:center;
    allign-items:center;
}
.myleftctn{
    position:relative;
    background:whitesmoke;
    border-radius:25px;
    height:100%;
    padding:65px;
    padding-left:50px;
}
.myleftctn header{
    color:blueviolet;
    font-size:24px;
    font-weight:700;
    margin-bottom:20px;
}
.row{
    height:100%;
}
.mycard{
    position:relative;
    background:#fff;
    height:100%;
    border-radius:25px;
    box-shawdowinset 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shawdowinset 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadowinset 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.myrightctn header{
    color:#fff;
    font-size:44px;
}
.glyphicon{
    color:black;
}
.invalid-feedback{
    color:brown;
}
small{
    color:red;
}
.myleftctn .myinput:focus{
    outline:none;
    
}
.myform{
    position:relative ;
 
}
.box{
    position:relative;
    margin:20px;
}
.myleftctn .butt{
    background:linear-gradient(45deg,#bb36fd,#9b00e8);
    color:#fff;
    width:230px;
    border:none;
    border-radius:25px;
    padding:10px;
    box-shadow:inset 0px 10px 41px -11px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 41px -11px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 41px -11px rgba(0,0,0,0.7);
    
}
.myleftctn .myinput{
    width:150x;
    border-radius:25px;
    padding:10px;
    border:none;
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    
}
.myleftctn .myinput:focus{
    outline:none;
}
 .myleftctn .butt:hover{
    background:linear-gradient(45deg,#c85bff,#b726ff);
    color:#fff;
    width:150px;
    border:none;
    border-radius:25px;
  }
 .myleftctn .butt:focus{
    outline:none;
}
.myrightctn .butt_out{
   
    color:#fff;
    width:120px;
    border:2px solid #fff;
    border-radius:25px;
    padding:10px;
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow:inset 0px 10px 49px -14px rgba(0,0,0,0.7);
    
}
.butt_out:focus{
    outline:none;
    
}
.butt_out:hover{
    border:2px solid #eecbff;
}
footer{
    margin-top:50%;
    width:100%;
    background-color:#000;
    color:#fff;
}


